<footer id="footer" class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Mecanodrigo. Casi todos los derechos reservados.</p>
        <div class="social-icons">
            <!-- <a href="Portfolio"><i class="fa-solid fa-file"></i></a> -->
            <a href="../files/Currículum Corporativo Rodrigo Piñel.pdf" target="_blank" title="Descargar CV"><i class="fa-solid fa-file-pdf"></i></a>
            <a href="mailto:rodrigo.pinelpastrana@gmail.com" title="Envíame un email"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/rodrigo-piñel/" target="_blank" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/rodriiasecas" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>
