<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/teclado.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
    <title>Mecanodrigo</title>
</head>
    <div id="wordPopup" class="hidden">
        <dialog id="customWordAmountModal" class="modalWrapper" open="" style="opacity: 1;">
            <form id="customWordForm" class="modal" style="opacity: 1;">
                <div class="title">Custom word amount</div>
                <input id="wordsInput" name="wordsInput" type="number" value="1" min="0" max="10000">
                
                <button id="buttonOkCustomWords">Ok</button>
            </form>
        </dialog>
    </div>

    <div id="timePopup" class="hidden">
        <dialog id="customTimeModal" class="modalWrapper">
            <form class="modal" id="customTimeForm">
                <div class="title">Custom Time</div>
                <input type="number" id="timeInput" name="timeInput" value="1" min="1" max="3600" required>
                <div class="tip">
                    Enter a time in seconds. Maximum: 3600 seconds (1 hour).
                </div>
                <button id="buttonOkCustomTime">ok</button>
            </form>
        </dialog>
    </div>    
        
    <div id="app" class="content-grid">
        <header>
            <a id="logo" href="/">
                <div class="icon"><i class="fa-solid fa-keyboard"></i></div>
                <h1 class="text">mecanodrigo</h1>
            </a>
            
            <nav>                
                <button class="switch" id="switch">
                    <span><i class="fa-regular fa-sun"></i></span>
                    <span><i class="fa-regular fa-moon"></i></span>
                </button>

                    <% if (username && username.length > 0) { %> <!-- Verificamos si username no está vacío -->
                        <h4>Bienvenido <%= username %>!</h4>
                        <a href="/logout"><i class="fa fa-sign-out logout"></i></a>
                    <% } else { %>
                        <a id="login-link" href="views/login.html" title="Inicio de sesión">
                            <i class="far fa-user"></i> <!-- Icono de monigote -->
                        </a>
                    <% } %>
                
            
            </nav>                
        </header>
        <main>
            <div id="testConfig" class="full-width">
                <div class="row">

                    <div class="spacer leftSpacer"></div>

                    <div class="mode">
                        <button class="textButton active" mode="time">
                            <i class="fas fa-fw fa-clock"></i>
                            Time
                        </button>
                        <button class="textButton" mode="words">
                            <i class="fas fa-fw fa-font"></i>
                            Words
                        </button>
                        <button class="textButton" mode="zen">
                            <i class="fa-solid fa-eye-slash"></i>
                            Hidden
                        </button>
                    </div>

                    <div class="spacer rightSpacer"></div>

                    <div class="optionSection">
                        <div class="time" mode="timeOptions">
                            <button class="textButton" timeconfig="15"><span>15</span></button>
                            <button class="textButton active" timeconfig="30"><span>30</span></button>
                            <button class="textButton" timeconfig="60"><span>60</span></button>
                            <button class="textButton" timeconfig="120"><span>120</span></button>
                            <button class="textButton" timeconfig="custom">
                                <i class="fas fa-fw fa-tools"></i>
                            </button>
                        </div>
                        <div class="wordCount hidden" mode="wordOptions">
                            <button class="textButton" wordcount="10"><span>10</span></button>
                            <button class="textButton" wordcount="25"><span>25</span></button>
                            <button class="textButton active" wordcount="50"><span>50</span></button>
                            <button class="textButton" wordcount="100"><span>100</span></button>
                            <button class="textButton" wordcount="custom">
                                <i class="fas fa-fw fa-tools"></i>
                            </button>
                        </div>                       
                    </div>
                </div>
            </div>

            <section id="game">
                <time></time>
                <p></p>
                <input id="gameInput" name="gameInput" type="text" autofocus> <!--Para que pueda escribir directamente en el input-->
            </section>
    
            <section id="results">
                <h2>Wpm</h2>            
                <h3 id="results-wpm"></h3>
    
                <h2>Accuracy</h2>
                <h3 id="results-accuracy"></h3>
    
                <button id="reload-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M19.933 13.041a8 8 0 1 1 -9.925 -8.788c3.899 -1 7.935 1.007 9.425 4.747" />
                        <path d="M20 4v5h-5" />
                    </svg>
                </button>
            </section>
        </main>
        <footer id="footer"></footer>
    </div>
    
    <script type="module" src="js/index.js"></script>
    <script src="js/header.js"></script>
    <script src="js/darkMode.js"></script>
</body>
</html>