<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/teclado.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Mecanodrigo</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">

    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="app" class="content-grid">
        <header>
            <a id="logo" href="/">
                <div class="icon"><i class="fa-solid fa-keyboard"></i></div>
                <h1 class="text">mecanodrigo</h1>
            </a>
        
            
            <nav>                
                <button class="switch" id="switch">
                    <span><i class="fa-regular fa-sun"></i></span>
                    <span><i class="fa-regular fa-moon"></i></span>
                </button>
        
                <a class="leaderboard" id="leaderboard" href="/leaderboard">
                    <div><i class="fa-solid fa-chart-line"></i></div>
                </a>
                <a class="user" id="login-link" href="login.html" title="Inicio de sesión">
                    <i class="far fa-user"></i> <!-- Icono de monigote -->
                </a>  
            </nav>                
        </header>
        <main>
            <div class="auth-container">
                <div class="registerContainer">
                    <h2><i class="fa-solid fa-user-plus"></i> Sign Up</h2>
                    <form class="registerForm" id="registerForm" action="/register" method="POST">
                        <!-- <label for="registerUsername">Usuario:</label> -->
                        <input placeholder="User" type="text" id="registerUsername" name="username" required>

                        <!-- <label for="registerEmail">Correo electrónico:</label> -->
                        <input placeholder="Email" type="email" id="registerEmail" name="email" required>

                        <!-- <label for="registerPassword">Contraseña:</label> -->
                        <input placeholder="Password" type="password" id="registerPassword" name="password" required>

                        <!-- <label for="passwordConfirm">Contraseña:</label> -->
                        <input placeholder="Confirm password" type="password" id="passwordConfirm" name="passwordConfirm" required>
                        
                        <button type="submit"><i class="fa-solid fa-user-plus"></i> Sign Up</button>
                    </form>
                </div>
        
                <div class="loginContainer">
                    <h2><i class="fa-solid fa-user"></i> Log In</h2>
                    <form class="loginForm" id="loginForm" action="/login" method="POST">
                        <!-- <label for="loginUsername">Usuario o Correo:</label> -->
                        <input placeholder="User or email" type="text" id="loginUsername" name="username" required>

                        <!-- <label for="loginPassword">Contraseña:</label> -->
                        <input placeholder="Password" type="password" id="loginPassword" name="password" required>
                        
                        <button type="submit"><i class="fa-solid fa-user"></i> login</button>
                    </form>
                </div>
        
                <div id="message"></div>
            </div>
        </main>
        <footer id="footer" class="footer">
            <footer id="footer" class="footer">
                <div class="footer-content">
                    <p>&copy; 2024 Mecanodrigo. Casi todos los derechos reservados.</p>
                    <div class="social-icons">
                        <!-- <a href="Portfolio"><i class="fa-solid fa-file"></i></a> -->
                        <a href="../files/Currículum Corporativo Rodrigo Piñel.pdf" target="_blank" title="Descargar CV"><i class="fa-solid fa-file-pdf"></i></a>
                        <a href="mailto:rodrigo.pinelpastrana@gmail.com" title="Envíame un email"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.linkedin.com/in/rodrigo-piñel/" target="_blank" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/rodriiasecas" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </footer>            
    </div>
    <script src="../js/darkMode.js"></script>
    <script src="../js/register.js"></script>
</body>
</html>