.content{
    width: 100%;
    height: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-grid{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}

.allTime, .today, .todayMobile{
    padding-inline: 2rem;
    padding-block: .5rem;
    border-radius: var(--roundness);
    text-align: center;
    
    border: none;
    font-size: 1rem;
    background: var(--rowColor);
}

.today{
    display: none;
}

.todayMobile{
    width: 12%;
    margin: 2rem auto;
}

.active {
    font-size: 1.1rem;
    font-weight: 600;
    background: var(--yellow);
    color: var(--rowColor);
}

.tables{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}

.tabulator .tabulator-table {
    border: none;
}

/* Eliminar bordes de las filas */
.tabulator .tabulator-row {
    border: none;
}
.tabulator .tabulator-cell {
    padding: 10px 0px; /* Más espacio vertical (10px) y algo de espacio horizontal (5px) */
}

/* Eliminar bordes de las celdas */
.tabulator .tabulator-cell {
    border: none;
}

/* Eliminar bordes de la cabecera */
.tabulator .tabulator-header {
    border: none;
}

/* Eliminar bordes de las celdas de la cabecera */
.tabulator .tabulator-col {
    border: none;
}

.tabulator{
    border: none;
}

.tabulator-col-content{
    background-color: var(--popup-shadow);
    color: var(--white-color);
    text-align: center;
}

.tabulator-cell {
    font-size: 16px;
}

.tabulator-headers{
    font-size: 1rem;
    text-align: center;
}

.tabulator .tabulator-row{
    background-color: var(--rowColor);
    color: var(--white-color);
}

.tabulator-row.tabulator-row-even {
    background-color: var(--background-color);
}

.tabulator .tabulator-header .tabulator-col{
    border: none;
}

h6{
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

@media screen and (min-width: 768px) {    
    .content{
        width: 100%;
        height: 100%;
        max-width: 1200px;
        background-color: var(--background-color);
    }

    .tables {
        flex-direction: row; /* Cambia a fila en pantallas medianas y grandes */
        justify-content: space-around;
        margin-top: 0;
    }

    .todayMobile{
        display: none;
    }

    .today{
        display: block;
    }

    .buttons{
        width: 100%;
    }

    .titleAndTable {
        width: 50%; /* Ocupa el 50% en pantallas grandes */
    }
}